* {box-sizing: border-box;}

body {
  margin: 0;
  font-style: serif;
}

.wrapper {
  padding: 0 10px 0 10px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  align-items: center;
  width: 50%;
  padding: 6px;
  margin-top: 8px;
  margin-left: 100px;
  border: none;
  font-size: 17px;
  position: absolute;
  left: 100px;
}
.topnav img{
  height: 30px;
  width: auto;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  
  margin-top: 10px;
}

.push-left {
  width: 70%;
  height: auto;
  float: left;
  padding: 10px 30px 10px 30px;
}

.push-right {
  width: 30%;
  height: auto;
  float: right;
  padding: 10px 30px 10px 30px;
}

.hashtag {
  width: 100%;
  height: auto;
}

.hashtag a {
  text-decoration: none;
}

.hashtag {
    margin-top: 10px;
}

.hashtag h3 {
    margin-top: 0;
    font-size: 22px;
}

.views {
    float: left;
    width: 50%;
    font-size: 22px;
    margin-top: -10px;
}

.likes {
  width: 50%;
  float: right;
  text-align: right;
  margin: -24px 0 0 0;
}

.likes ul {
  list-style: none;
}

.likes ul li {
  display: inline;
  margin-right: 20px;
}

.hr-line {
    padding: 20px 0 20px 0;
}

.image-user {
  float: left;
}

.description {
  float: left;
}

.subscribe {
  float: right;
}

.image-user img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  padding-left: 0px;
  margin-right: 0px;
}

.description {
    float: left;
    position: absolute;
    left: 150px;
    margin-top: -20px;
}



.description h5 {
    font-size: 16px;
    margin-bottom: 0px;
}

.hr-line.two {
    padding: 5px 0 5px 0;
    color: #E5E3E3;
}
.summary:after{
  content: "";
  clear: both;
  display: block;
  }

  .showmore{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    padding-left: 110px;
    color: #9E9C9C;
  }
  /* comment section */
  .comment-section-top p, .comment-section-top i{
display: inline;
  }
  .comment-section-top p{
    margin-right: 20px;
    font-size: 20px;
  }

  .your-comment img, .comments img{
width: 50px;
height: 50px;
border-radius: 50%;
padding-left: 0px;
margin-right: 5px;
  }
  .your-comment img, .your-comment input{
    display: inline-block;
  }
  .your-comment input{
    align-items: center;
    border: none;
    border-color: transparent;
    border-bottom: solid 1px;
    width: 90%;
    height: 40px;
    border-color: #E5E3E3;
    float: right;
    margin-top: 10px;
  }
  .your-comment:after{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 40px;
  }
  
  .prototype{
    margin-bottom: 5px;
  }
  .comment-content, .your-actions{
    text-align: start;
    
    width: 90%;
    float: right;
    margin-left: 10px;
  }
#time{
  color: #9E9C9C;
}
.comment-content h4, #time{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0px;
}

.comments:after{
 content: "";
    display: block;
    clear: both;
    margin-bottom: 20px; 
}

.your-actions i, #reply{
  margin-right: 20px;
}

 #reply, .your-actions i{
  text-decoration: none;
  color: #9E9C9C;

}
#view-reply{
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 10px;
}

button {
    padding: 15px;
    background: red;
    color: #fff;
    justify-content: center;
    border: none;
    margin-top: 20px;
}
.next{
  margin-right: 100px;
}

.top-section p{
  display: inline-block;
  align-items: center;
  margin-right: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.autoplay{
  float: right;
  align-items: center;
  margin-top: 10px;
}

.next{
  float:left;
  align-items: center;
}
.top-section:after{
  content: "";
  display: block;
  clear: both;
  margin-bottom:5px;
}

.video-sidebars ul {
    margin: 0;
    padding: 0 5px 0 5px;
}

.video-sidebars ul li {
  list-style: none;
}

.single-video .on-left {
  float: left;
}

.single-video .on-right {
  float: right;
}

.on-left img {
  width: 130px;
  height: auto;
}

.on-right {
    padding: 0 0 0 10px;
}

.on-right h4 {
  margin: 0;
}

.on-right p {
  margin: 7px 0 7px 0;
}

.single-video {
    display: inline-flex;
    margin-bottom: 15px;
}

hr.hr-single {
    margin-bottom: 25px;
}