* {box-sizing: border-box;}

body {
  margin: 0;
  font-style: serif;
}

.wrapper {
  padding: 0 10px 0 10px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  align-items: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  position: absolute;
  left: 100px;
}
img{
  height: 30px;
  width: auto;
  align-items: center;
  padding-left: 30px;
  margin-right: 30px;
  position: absolute;
  margin-top: 10px;
}

.push-left {
  width: 70%;
  height: auto;
  float: left;
  padding: 10px 30px 10px 30px;
}

.push-right {
  width: 30%;
  height: auto;
  float: right;
  padding: 10px 30px 10px 30px;
}

.hashtag {
  width: 100%;
  height: auto;
}

.hashtag a {
  text-decoration: none;
}

.hashtag {
    margin-top: 10px;
}

.hashtag h3 {
    margin-top: 0;
    font-size: 22px;
}

.views {
    float: left;
    width: 50%;
    font-size: 22px;
    margin-top: -10px;
}

.likes {
  width: 50%;
  float: right;
  text-align: right;
  margin: -24px 0 0 0;
}

.likes ul {
  list-style: none;
}

.likes ul li {
  display: inline;
  margin-right: 20px;
}

.hr-line {
    padding: 20px 0 20px 0;
}

.image-user {
  float: left;
}

.description {
  float: left;
}

.subscribe {
  float: right;
}

.image-user img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.description {
    float: left;
    position: absolute;
    left: 150px;
    margin-top: -20px;
}

.hr-line.two {
    padding: 130px 0 100px 0;
}

.description h5 {
    font-size: 16px;
    margin-bottom: 0px;
}

button {
    padding: 15px;
    background: red;
    color: #fff;
    justify-content: center;
    border: none;
    margin-top: 20px;
}